---
layout: splash
author_profile: false
title: Home
hideTitle: true
permalink: /
header:
  # overlay_color: "#000"
  # overlay_filter: "0.5"
  overlay_image: /assets/images/shutterstock_514805323.jpg
  overlay_text: "Horse sales, boarding, and training"
  # actions:
  #   - label: "Meet us"
  #     url: "#meet"
  # caption: "Photo credit: [**Unsplash**](https://unsplash.com)"
# excerpt: "Horse sales, boarding, and training"
# intro: 
#   - excerpt: 'Nullam suscipit et nam, tellus velit pellentesque at malesuada, enim eaque. Quis nulla, netus tempor in diam gravida tincidunt, *proin faucibus* voluptate felis id sollicitudin. Centered with `type="center"`'
feature_row_splash:
  - image_path: /assets/images/shutterstock_453308077_th.jpg
    # image_caption: "Image courtesy of [Unsplash](https://unsplash.com/)"
    alt: "Horses for sale"
    overlay: "Horses for sale"
    # excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "#test-link2"
    # btn_label: "Read More"
    # btn_class: "bt
  - image_path: /assets/images/shutterstock_102368917_th.jpg
    alt: "Services"
    overlay: "Services"
    url: "#test-link1"
    # excerpt: "This is some sample content that goes here with **Markdown** formatting."n--primary"
  - image_path: /assets/images/shutterstock_1095093683_th.jpg
    alt: "Facilities"
    overlay: "Facilities"
    # excerpt: 'This is some sample content that goes here with **Markdown** formatting. Left aligned with `type="left"`'
    url: "#test-lin3k"
    # btn_label: "Read More"
    # btn_class: "btn--primary"
  - image_path: /assets/images/shutterstock_453308077_th.jpg
    # image_caption: "Image courtesy of [Unsplash](https://unsplash.com/)"
    alt: "Meet us"
    overlay: "Meet us"
    # excerpt: "This is some sample content that goes here with **Markdown** formatting."
    url: "#test-link4"
    # btn_label: "Read More"
    # btn_class: "bt
---

<!-- {% include feature_row id="intro" type="center" %} -->

{% include feature_row_splash %}
